<h1>Entrer une nouvelle course</h1>
<form (ngSubmit) = "onSubmit()">
  Lieu <input type='text' id='Lieu' name='Lieu' required [(ngModel)] = "model.location" /><br>
  Date <ngb-datepicker #dp [(ngModel)]="dateModel" [ngModelOptions]="{standalone: true}"></ngb-datepicker><br>

  <p-pickList sourceHeader="Disponibles" targetHeader="Sélectionnés" [source]="participants" [target]="model.ponies" [responsive]="true" dragdrop="true" dragdropScope="participants">
    <ng-template let-pony pTemplate="item">
        <div class="ui-helper-clearfix">
            {{pony.nom}}
        </div>
    </ng-template>
</p-pickList>
  
  <button type='submit'>Enregistrer</button>
</form>